.example-preview {
    max-width: 800px;
    flex :1
}

.priview{
    display: flex;
}
ngb-rating {
    color:#FFC107;
    /* background: red; */
}
.Ratings{
    max-width: 700px;
}
.c{
    margin: auto;
}

mat-table{
    max-width: 600px;
}
.mov{
    display: flex;
    flex-direction: column;
    align-items: center;
}

::ng-deep .mat-mdc-paginator-outer-container {
    display: flex;
    color: white;
    border: 3px solid black;
    border-radius: 30px;
    /* background-color:darkslategrey ; */
    /* background-color:#1d1c1c ; */
    background-color :#070720; ;
    font-weight: 500;
}

::ng-deep .mat-mdc-paginator-range-actions {
    display: flex;
    align-items: center;
    background-color:#e53637;
    border-radius: 30px;
    border: 1px solid black;
}

::ng-deep .mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
    /* border: 1px solid red; */
    border-radius: 20px;
    background-color: red;
}

::ng-deep .mat-mdc-paginator-page-size {
    display: flex;
    align-items: baseline;
    margin-right: 8px;
    /* background-color: #185bc3; */
    border-radius: 20px;
}


/* .mat-mdc-table .mat-mdc-header-cell {
    background-color: red !important;
} */

.mat-mdc-table[_ngcontent-ng-c2381821732] .mat-mdc-header-cell[_ngcontent-ng-c2381821732] {
    background-color: #0b5989;
    border-right: 2px solid gold;
    color: aliceblue;
}

/* .mat-mdc-select-arrow svg {
    fill: currentColor;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
} */