::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: transparent !important;
}

/* label{
    color:white;
} */
/* form{
    
} */
/* .field{
    
    display: flex;
    flex-direction: column;
    justify-content: left;
} */

/* textarea {
    width: 90%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ffd700;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    margin: auto;
    border-radius: 30px;
    background: midnightblue;
    color: seashell;
} */


@keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }

  .btm-btns{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  

  .btm-btns a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 10px;
    /* letter-spacing: 4px */
  }

  .btm-btns .cancel:hover {
    background: #f40303;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #f40303,
                0 0 25px #f40303,
                0 0 50px #f40303,
                0 0 100px #f40303;
  }

  .btm-btns .remove:hover {
    background: #d0c9c9;
    color: #000000;
    border-radius: 5px;
    box-shadow: 0 0 5px #d0c9c9,
                0 0 25px #d0c9c9,
                0 0 50px #d0c9c9,
                0 0 100px #d0c9c9;
  }

.btm-btns a span.color-red {
    background: linear-gradient(90deg, transparent, #f40303);
    animation: btn-anim1 2s linear infinite;
}
.btm-btns a span.color-gray {
    background: linear-gradient(90deg, transparent, #d0c9c9);
    animation: btn-anim1 2s linear infinite;
}








    


.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid #333;
  }
  
  .title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #00bfff;
    color: red;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .title::before,
  .title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #00bfff;
    background-color:red;
  }
  
  .message, 
  .signin {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .signin a {
    color: #00bfff;
    color: red;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,
  .form label .input:valid + span {
    color: red;
    /* color: #00bfff; */
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .input {
    font-size: medium;
  }
  
  /* .submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: #00bfff;
  }
  
  .submit:hover {
    background-color: #00bfff96;
  } */

  .submi {
    margin: auto;
    position: relative;
    display: inline-block;
    padding: 10px 40px;
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    width: fit-content;
    /* margin-top: 40px; */
    /* letter-spacing: 4px */
  }

  .submi:hover {
    background: #03a4f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03a4f4,
                0 0 25px #03a4f4,
                0 0 50px #03a4f4,
                0 0 100px #03a4f4;
  }

  a span {
    position: absolute;
    display: block;
  }

  a span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03a4f4);
        animation: btn-anim1 2s linear infinite;
  }
  /* .login-box a span.color-blue {
    background: linear-gradient(90deg, transparent, #03a4f4);
} */
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }

  .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .image-preview-container {
    position: relative;
    margin-top: 10px;
    border: 1px solid #ccc; 
    height: 200px; 
    width: 320px;

  }
  
  .image-preview-container.has-preview {
    
    height: 200px; 
    width: 320px;
}
.image-preview-container.has-preview img {
    height: 200px; 
    width: 320px;
    object-fit: fill;
    
}



  .image-preview img {
    /* height: fit-content;
    width: fit-content;
    max-width: 200px;
    max-height: 320px; 
     */
  }